configuration {
	theme: "/usr/share/rofi/themes/android_notification.rasi";
	modi: "run,drun,window,file-browser,calc";
	show-icons: true;
	combi-hide-mode-prefix: true;
/*	window-format: "{w}    {c}   {t}";*/
	hide-scrollbar: true;
	font: "FiraCode Nerd Font 18";
	lines: 20;
}

element-icon { size: 32px; }
